<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/main_view/">Smart Fish Tank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/main_view/">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/database_view/">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/indexcart/">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart/">CheckCart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cartordercheck/">CheckOrder</a>
        </li>
      </ul>
    </div>
</nav>